@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&family=Vina+Sans&display=swap');


/* header */



.main-right-container{
    display: flex;
    flex: 1;
    height: "70px";
    align-items: center;
}




.input-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #F0F5FF;
    border-radius: 10px;
    margin-left: 40px;
    width: 100%;   
}

.input-container input{
    font-family: 'Inter', sans-serif;
   width: 100%;
    height: 40px;
    background-color: #F0F5FF;
    outline: none;
    border: none;
    border-radius: 10px;
    text-overflow:ellipsis;
    font-size: 17px;
}
.icons-container{
    display: flex;
    color: #000 !important;
    gap: 45px;
    margin-right: 100px;
    margin-left: 30px;
   
}
.icons-container button{
    color: black;
    text-transform: capitalize;
    font-size: 17px;
    
}
.icons-container  p {
    font-weight: 100 !important;
}

.nav-items-container{
    margin-top: 80px;
    background-color: white;
    text-align: center;
    padding: 10px 20px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-bottom: 20px;
    border: 1px solid rgba(0, 0, 0, 0.112);
}


.navcard-container img{
    width: 64px;
    height: 64px;
}
.navcard-container{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Inter', sans-serif;
   font-weight: 600;
   font-size: 14px;
   cursor: pointer;
}

.carousel-container{
    margin: 0px 20px 20px 20px;
}


.login{

    height: 100vh;
    width:100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


.login-container{
    width: 65%;
    margin: 80px 30px;
    margin-bottom: 20px;
    height: 85vh;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: flex;
}

.img-container{
    flex: 0.4;
    background-color: #2874F0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 10px 40px 40px;
    color: white;
    font-family: 'Inter', sans-serif;
    

}

.img-container h1{
    font-weight: 500;
    font-size: 28px;
}

.img-container p{
    color: #dbdbdb;
    font-size: 18px;
    line-height: 25px;
}

.login-box{
    flex: 0.6;
    display: flex;
    flex-direction: column;
    padding: 20px 40px 40px 40px;
    overflow-y: scroll;
   
}
.login-box input{
    width: 100%;
    margin: 10px 0;
}
.login-box button{
    padding: 10px 20px !important;
  

}


/* products area styling */

.products-container{
    margin:  0px 20px 20px 20px;
    height: 50vh;
    background-color: white;
    padding: 10px 20px;
  
   
}





.product-card{  
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: 8px 8px;
    max-width: 216px;
    border-radius: 2px;
    margin: 5px 5px;
    
}
.product-card img{
    max-width: 216px;
    max-height: 150px;
 
}

.product-card img:hover{
    transform: scale(1.1);
}

.product-card p{
    font-family: 'Inter', sans-serif !important;

    padding: 0;
    margin: 8px
    
}

#img-wrapper img{
    width: 100%;
}

@media all and (max-width: 480px) {

    #img-wrapper img{
        width: 90% !important;
    }#img-wrapper{
        gap: 0px !important
    }
    .product-card img{
        max-width: 180px;
        max-height: 90px;
     
    }
 }

#img-wrapper {
    margin: 5px 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    gap: 5px;
   }
   
   #img-wrapper > div {
    flex: 0 1 33%;
   }




/* styling detailsPage */
.details-container{
   background-color: white;
    margin: 80px 80px 20px 80px;
    padding: 2% 8% ;
    height: auto;
   
}

.left-container img{
    border: 1px solid rgba(0, 0, 0, 0.114);
    padding: 10px 25px;
    max-width: 300px !important;
    height: auto;
   
}
.left-container button{
    margin: 10px 5px;
    padding: 15px 30px;
    text-align: center;
}

.right-container {
    margin: 10px 25px;
}

.right-container p{
    margin: 8px !important;
}

.right-container h1{
    font-size: 18px !important;
    font-family: 'Inter', sans-serif;
}

.cart-container{  
  margin-top: 60px;
   padding: 30px 135px;

}


.cart-header{
    padding: 15px 24px;
}

/* styling cart item container */
.cart-header{
    background-color: white;
    margin-bottom: 20px;
    margin-right: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 5px 24px;
}

.carts-item-container{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px !important;
    border-radius: 5px;
    margin-right: 20px;
}


.cart-item-container{
    display: flex;
    background-color: rgb(255, 255, 255);
    padding: 24px;
    gap: 30px;
    align-items: center;
    justify-content: flex-start;
   
   
}

.place-order-container{
    padding: 16px 22px;
    background-color: #fff;
    box-shadow: 0 -2px 10px 0 rgba(0, 0, 0, 0.164);
    margin-right: 20px;
    text-align: right;
   
   
}

.place-order-container button{
    background-color: #FB641B;
    padding: 10px 25px;
    font-size: 16px;
    border-radius: 2px;

}

.place-order-container button:hover{
    background-color: #FB641B;

}



.cart-image-container{
    max-height: 112px;
    max-width: 94.5px;
   
 
}



.img-button-container{
    display: flex;
    gap: 5px;
    flex-direction: column;
}


.bill-container{
    padding: 10px 20px;
    border: 2px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px !important;
}

.bill-container p{
    color: #878787;
    font-size: 14px;
    font-weight: bold;
    font-family: "inter";

}

/* styling empty cart */

.empty-cart-container{
    display: flex;
    margin: 80px;
    justify-content: center;
}

.empty-cart{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: 90%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px !important;
    
    margin-top: 5px;
}

.cart-img{
   max-width: 221.91px;
    max-height:  162px;
}

.cart-p{
    font-family: "Inter";
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 0px;
}

.cart-p1{
    font-size: 12px;
    margin-bottom: 5px;

}